@import "bootstrap";


h2 {
  font-size: 1.9em;
  letter-spacing: -1px;
  text-align: center;
  color: #660;
  padding-top: 30px;
  background-color:#CCCCFF;	

}

li {
  background-color:#CCCCFF;	
}

